<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{head}"></head>
<body>
    <header th:replace="~{header}"></header>
    <div class="container">
        <h2>Editar Hóspede</h2>
        <form action="/editar" method="post">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" value="Hóspede Exemplo" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="exemplo@dominio.com" required>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>

            <label for="tokenResetSenha">Token de Redefinição de Senha:</label>
            <input type="text" id="tokenResetSenha" name="tokenResetSenha">

            <button type="submit">Salvar Alterações</button>
        </form>

        <form action="/desativar" method="post">
            <button class="btn-danger" type="submit">Desativar Hóspede</button>
        </form>
    </div>
</body>
</html>
