<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{head}"></head>
<body>
<header th:replace="~{header}"></header>
<body>
    <div class="background-image">
        <div class="overlay">
            <h1>Bem-vindo ao Sistema de Gestão</h1>
            <a href="#cadastroHospede" class="btn btn-primary">Hóspedes</a>
            <a href="#cadastroReserva" class="btn btn-secondary">Reservas</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
