<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{head}"></head>
<body>
<div class="secao secao-titulo">

    <h1>Pousada Quinta do Ypuã</h1>
    <h2>Sistema de Reservas</h2>

</div>

<div class="secao secao-login" id="login">
    <h3>ACESSE O SISTEMA</h3>
    <form  th:action="@{/autenticacao}" method="POST"   enctype="multipart/form-data">
        <input type="text" id="username" name="nome" placeholder="Digite seu usuário">
        <br>
        <br>
        <input type="password" id="password" name="senha" placeholder="Digite sua senha">
        <br>
        <br>
        <button>Entrar</button>
        <br>
        <br>
    </form>
    <a class="redefinir-senha" href="redefinirSenha.html" target="_blank" onclick="abrirNovaJanela(); resetPassword();">Esqueceu sua Senha?</a>
</div>
<script src=script.js></script>
</body>
</html>