<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quinta do Ypuã - Gerenciamento de Reservas</title>   
</head>
<body>
    <div class="login">
    <form action="/login" method="post">
        <h2>Quinta do Ypuã - Login</h2>

        <label for="email">E-mail:</label>
        <input type="text" id="email" name="email" required><br>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required><br>
        
        <input type="submit" value="Entrar">
    </form>
    </div>
    
    <div class="reset-senha">
        <form action="/reset-senha" method="post">
         <h2>Redefinir Senha</h2>
         <p>Insira seu e-mail para redefinir sua senha.</p>
        <label for="email">E-mail:</label>
        <input type="text" id="email" name="email" required><br>
        <input type="submit" value="Enviar Link de Redefinição">
    </form>
    </div>

</body>
</html>
