<!DOCTYPE html>
<html lang="pt-br">
    <head th:replace="~{head}"></head>
<body>
    <header th:replace="~{header}"></header>
    <div class="container">
        <div class="col-12  py-md-5 bd-content">
            <h3 class="bd-title" id="content">Cadastrar reserva</h3>
            <div class="br-pagebody">
                <div class="col-12">
                    <div class="col-12 alert" style="display: none;"></div>
                    <form class="card card-default"  th:action="@{/reservas/cadastrar}" method="POST"   enctype="multipart/form-data">
    
                        <div class="card-header">
                            <a style="margin:5px" class="btn btn-default" th:href="@{/reservas/listar}" type="button">Listar</a>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-select2 ">
                                         <label>Hóspede responsável</label>
                                         <select id="responsavel" class="form-control select2-hidden-accessible"  name="responsavel" >
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-select2 ">
                                        <label>Quantidade de adultos (acima de 13 anos)</label>
                                        <input class="form-control" type="number" required min="1" max="3" step="1">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-select2 ">
                                        <label>Quantidade crianças</label>
                                        <input class="form-control" name="criancas" type="number" max="3" step="1">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-select2 ">
                                        <label>Condição de pagamento</label>
                                        <select id="condicaoPagamento" class="form-control"  name="condicaoPagamento" >
                                            <option class="optCat" value="1">A vista</option>
                                            <option class="optCat" value="2">2x no cartão</option>

                                            <option class="optCat" value="3">3x no cartão</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-select2 ">
                                        <label>Data de entrada</label>
                                        <input type="date" class="form-control"  required name="checkIn">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-select2 ">
                                        <label>Data de saída</label>
                                        <input type="date" class="form-control"  required name="checkOut">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-select2 ">
                                        <label>Café incluso</label>
                                        <select class="form-control"  name="cafeIncluso" id="cafeIncluso">
                                            <option value="true">Sim</option>
                                            <option value="false">Não</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6" id="componente_cor">
                                    <div class="form-group form-group-select2 ">
                                        <label>Acomodação</label>
                                        <select id="acomodacao" class="form-control" name="acomodacao">
                                            <option class="optCor" value="1">Single (1 cama solteiro)</option>
                                            <option class="optCor" value="2">Double (2 camas solteiro)</option>
                                            <option class="optCor" value="3">Standard (1 cama casal)</option>
                                            <option class="optCor" value="3">Desluxe (1 cama casal com hidromassagem)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row justify-content-center"></div>
                            <button style="margin:5px" class="btn btn-success">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-alert" tabindex="-1" role="dialog" th:if="${mensagem}" th:display="block">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Alerta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="modal-alert-message" th:text="${mensagem}"></p>
                </div>
                <div class="modal-footer">
                    <a href="javascript:location.reload();" class="btn btn-primary redirect-button">Entendi</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>