<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{head}"></head>
<body>
    <header th:replace="~{header}"></header>
    <div class="container">
        <div class="col-12  py-md-5 bd-content">
            <h3 class="bd-title" id="content">Listar reservas</h3>
            <div class="br-pagebody">
                <div class="card">
                    <div class="card-header">
                        <div class="card-tools" style="float:left">
    
                            <a style="margin:5px" class="btn btn-success" th:href="@{/reservas/adicionar}" type="button">Inserir</a>
    
                        </div>
                    </div>
                    <div class="bd  bd-gray-300 rounded">
                        <div class="table-responsive">
                            <table class="table mg-b-0">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Responsavel</th>
                                        <th scope="col">Data entrada</th>
                                        <th scope="col">Data saída</th>
                                        <th scope="col">Acomodação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="reserva : ${listaReserva}">
                                        <td>
                                            <a class="btn btn-primary btn-sm" th:href="@{'/reservas/editar/' +${reserva.id}}">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                            <a class="btn btn-danger btn-sm button-alert" th:onclick="'excluir(\'' + ${reserva.id} + '\')'">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                        <th scope="row" th:text="${reserva.nomeResponsavel}"></th>
                                        <td th:text="${reserva.checkIn}"></td>
                                        <td th:text="${reserva.checkOut}"></td>
                                        <td th:text="${reserva.acomodacao}" name="acomodacao"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel">Retorno</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="conteudo">
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" onclick="javascript:location.reload();">Fechar</button>
            </div>
          </div>
        </div>
      </div>


<script>
    function excluir(id){
        $.ajax({
                url: '/reservas/excluir/'+id,
                type: 'DELETE',
                success: function(data) {
                    console.log("Deu certo")
                    console.log(data)
                    $('#myModal').modal('show')
                    $("#conteudo").html(data.Message)
                },
                error: function(error){
                    $('#myModal').modal('show')
                    const result = JSON.parse(error.responseText);
                    console.log(result)
                    $("#conteudo").html(result.Message)
                }
        });
    }

    $(document).ready(function(){
        $("[name=acomodacao]").each(function(index, element){
            var acomodacaoValue = parseInt(element.innerHTML);
            if (!isNaN(acomodacaoValue) && acomodacaoValue > 0){
                switch (acomodacaoValue){
                    case 1:
                        element.innerHTML = "Single (1 cama solteiro)";
                        break;
                    case 2:
                        element.innerHTML = "Double (2 camas solteiro)";
                        break;
                    case 3:
                        element.innerHTML = "Standard (1 cama casal)";
                        break;
                    case 4:
                        element.innerHTML = "Deluxe (1 cama casal com hidromassagem)";
                        break;
                    default:
                        element.innerHTML = "Desconhecido";
                        break;
                }
            }
        });
    });
</script>
</body>
</html>